python-dotenv>=1.0.0
faiss-cpu==1.7.4
metagpt==0.8.1
aiofiles
aiohttp
aioredis
anthropic
anytree
beautifulsoup4
channels
dashscope
fire
gitignore-parser
gitpython
google-generativeai
imap-tools
ipykernel
ipython
ipywidgets
jieba
lancedb
libcst
loguru
meilisearch
nbclient
nbformat
networkx
numpy
openai
openpyxl
pandas
Pillow
playwright
pydantic
python-docx
PyYAML
qdrant-client
qianfan
rank-bm25
rich
scikit-learn
semantic-kernel
setuptools
socksio
ta
tenacity
tiktoken
tqdm
typer
typing-extensions
typing-inspect
websocket-client
websockets
wrapt
zhipuai
